body {
    background-color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: center;
}

button {
    margin: 5px;
    text-align: center;
    border-style: solid;
}

.calculator {
    border: 2px solid black;
    padding: 30px;
    background-color: lightgray;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.display {
    border: 3px solid black;
    background-color: lightgreen;
    height: 30px;
    padding: 5px;
    
    display: flex;
    align-items: center;
}

.buttons {
    border: 1px solid black;
    padding: 5px;

    display: flex;
    justify-content: center;
    gap: 10px;
}

.numbers {
    width: 150px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.number {
    flex: 0 0 25%;
}

.backspace {
    width: 25%;
    background-color: red;
}

.operators {
    display: flex;
    flex-direction: column;
}

[id="="] {
    background-color: green;
}

